@font-face {
  font-family: "Avenir-Heavy";
  src: local("Avenir-Heavy"), url("/fonts/Avenir-Heavy.woff2") format("woff2"),
    url("/fonts/Avenir-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Avenir-Medium";
  src: local("Avenir-Medium"), url("/fonts/Avenir-Medium.woff2") format("woff2"),
    url("/fonts/Avenir-Medium.woff") format("woff");
}
@font-face {
  font-family: "Manrope-Bold";
  src: local("Manrope-Bold"), url("/fonts/Manrope-Bold.woff2") format("woff2"),
    url("/fonts/Manrope-Bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSans-Bold";
  src: local("NotoSans-Bold"), url("/fonts/NotoSans-Bold.woff2") format("woff2"),
    url("/fonts/NotoSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSans-Medium";
  src: local("NotoSans-Medium"),
    url("/fonts/NotoSans-Medium.woff2") format("woff2"),
    url("/fonts/NotoSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSans-Regular";
  src: local("NotoSans-Regular"),
    url("/fonts/NotoSans-Regular.woff2") format("woff2"),
    url("/fonts/NotoSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff2") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"), url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "SFProDisplay-Bold";
  src: local("SFProDisplay-Bold"),
    url("/fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: "SFProDisplay-SB";
  src: local("SFProDisplay-SB"),
    url("/fonts/SFProDisplay-SB.woff2") format("woff2"),
    url("/fonts/SFProDisplay-SB.woff") format("woff");
}
@font-face {
  font-family: "SFProText-Medium";
  src: local("SFProText-Medium"),
    url("/fonts/SFProText-Medium.woff2") format("woff2"),
    url("/fonts/SFProText-Medium.woff") format("woff");
}
@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("/fonts/SFProText-Regular.woff2") format("woff2"),
    url("/fonts/SFProText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SFProText-SB";
  src: local("SFProText-SB"), url("/fonts/SFProText-SB.woff2") format("woff2"),
    url("/fonts/SFProText-SB.woff") format("woff");
}
