.generate-qr {
  position: relative;
  &__title {
    margin-left: 100px;
    z-index: 1;
    max-width: 450px;
  }
  &__text {
    margin: 36px 100px 0 0;
    z-index: 1;
  }
  &__img-wrapper {
    margin-bottom: 77px;
    display: flex;
    justify-content: center;
  }
  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 192px;
  }
  &__text-line {
    display: block;
  }
  &__img {
    z-index: 1;
    margin-left: 17px;
  }
  &__background {
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 13%;
  }
  &__lable {
    z-index: 1;
    position: absolute;
    right: 18%;
    top: 286px;
    font-family: "Montserrat-Bold";
    font-size: 21px;
    line-height: 26px;
  }
  &__arrow-img {
    z-index: 1;
    right: 27.6%;
    top: 196px;
    position: absolute;
  }
  &__illumination {
    position: absolute;
    top: -250px;
    left: 15%;
    width: 1030px;
    height: 960px;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.15;
    filter: blur(150.569px);
    border-radius: 476.034px;
    transform: rotate(-0.55deg);
  }
  @media (max-width: 1250px) {
    &__arrow-img {
      right: 20%;
      top: 196px;
    }
    &__illumination {
      left: 10%;
    }
    &__lable {
      right: 10%;
      top: 286px;
    }
  }
  @media (max-width: 1250px) {
    &__arrow-img {
      right: 20%;
    }
    &__lable {
      right: 10%;
    }
  }
  @media (max-width: 1000px) {
    &__arrow-img {
      right: 15%;
    }
    &__lable {
      right: 3%;
    }
    &__background {
      top: 17%;
    }
  }
  @media (max-width: 800px) {
    &__arrow-img {
      right: 3%;
      top: 62%;
    }
    &__lable {
      right: 0;
      top: 72%;
    }
    &__illumination {
      left: -15%;
    }
    &__background {
      top: 20%;
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column-reverse;
    &__lable {
      right: 9%;
      top: 80.5%;
      font-size: 18px;
    }
    &__arrow-img {
      transform: rotate(37deg);
      right: 7px;
      top: 66.8%;
    }
    &__background {
      top: 40%;
    }
    &__text-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
    }
    &__title {
      margin-left: 15px;
      z-index: 1;
      width: 100%;
      font-size: 24px;
    }
    &__text {
      margin: 24px 0 0 15px;
      z-index: 1;
      font-size: 16px;
    }

    &__illumination {
      top: 25%;
      left: 20%;
      width: 350px;
      height: 350px;
      filter: blur(50px);
    }
    &__img-wrapper {
      margin-bottom: 197px;
    }
  }
  @media (max-width: 449px) {
    &__illumination {
      left: 5%;
    }
    &__img {
      margin-left: 0px;
    }
  }
}
