.graphics {
  margin: 160px 0 200px 0;
  display: flex;
  padding-left: 100px;
  justify-content: space-between;
  &__text-wrapper {
    padding-top: 130px;
    display: inline-block;
  }
  &__text {
    margin-top: 33px;
    max-width: 400px;
  }
  &__text-line {
    display: block;
  }
  &__img-wrapper {
    max-width: 61%;
    width: 100%;
    height: 500px;
    position: relative;
  }
  &__img {
    position: absolute;
  }
  &__img:nth-child(1) {
    left: 310px;
    top: 40px;
  }
  &__img:nth-child(2) {
    left: 130px;
    top: 225px;
  }
  &__img:nth-child(3) {
    left: 435px;
    top: 220px;
  }
  &__img:nth-child(4) {
    left: 0px;
    top: 289px;
  }
  &__img:nth-child(5) {
    left: 253px;
    top: 331px;
    z-index: 1;
  }
  &__img:nth-child(6) {
    left: 180px;
    top: 433px;
  }
  &__img:nth-child(7) {
    left: 421px;
    top: 505px;
  }
  @media (max-width: 1250px) {
    display: block;
    &__img-wrapper {
      margin: 0 40px 0 auto;
    }
  }
  @media (max-width: 1000px) {
    display: block;
    &__img-wrapper {
      margin: 0 40px 0 0;
    }
  }
  @media (max-width: 800px) {
    padding: 50px 0 0 50px;
    &__img-wrapper {
      height: 300px;
    }
    &__img {
      max-width: 150px;
    }
    &__img:nth-child(1) {
      left: 289px;
      top: 33px;
    }
    &__img:nth-child(2) {
      left: 134px;
      top: 151px;
    }
    &__img:nth-child(3) {
      left: 396px;
      top: 120px;
    }
    &__img:nth-child(4) {
      display: none;
    }
    &__img:nth-child(5) {
      left: 238px;
      top: 194px;
      z-index: 1;
    }
    &__img:nth-child(6) {
      left: 160px;
      top: 270px;
    }
    &__img:nth-child(7) {
      left: 359px;
      top: 333px;
    }
  }
  @media (max-width: 600px) {
    margin: 0;
    padding: 0 0 0 15px;
    &__text {
      margin-top: 22px;
    }
    &__img-wrapper {
      margin: 0 0 0 50px;
    }
    &__img {
    }
    &__img:nth-child(1) {
      left: -45px;
      top: 160px;
    }
    &__img:nth-child(2) {
      left: 22px;
      top: 84px;
    }
    &__img:nth-child(3) {
      left: 264px;
      top: 30px;
    }
    &__img:nth-child(5) {
      left: 179px;
      top: 67px;
      z-index: 1;
    }
    &__img:nth-child(6) {
      left: 119px;
      top: 127px;
    }
    &__img:nth-child(7) {
      left: 149px;
      top: 218px;
    }
  }
  @media (max-width: 500px) {
    &__text-wrapper {
      padding-top: 140px;
    }
    &__img-wrapper {
      margin-left: 0px;
    }
  }
}
