.order {
  position: relative;
  &__title {
    z-index: 1;
    margin-bottom: 0;
  }
  &__text {
    margin-left: 3px;
    margin-top: 20px;
    white-space: nowrap;
  }
  &__text-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: 80px;
  }
  &__img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__img {
    margin-bottom: 30px;
    margin-left: 50px;
  }
  &__card-text {
    display: inline-block;
  }
  &__card-text-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__card {
    z-index: 1;
    position: absolute;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 18px;
    font-family: "Roboto-Regular";
    font-size: 23px;
    line-height: 27px;
  }
  &__card:nth-child(1) {
    left: 20%;
    top: 530px;
    padding: 29px 40px 29px 26px;
  }
  &__card:nth-child(2) {
    left: 54.5%;
    top: 375px;
    padding: 22px 24px 22px 22px;
  }
  &__card:nth-child(3) {
    left: 35.4%;
    top: 900px;
    padding: 19px 25px 19px 25px;
  }
  &__card:nth-child(4) {
    left: 69.8%;
    top: 810px;
    padding: 19px 23px 18px 24px;
  }
  &__illumination {
    position: absolute;
    top: 200px;
    right: -100px;
    width: 286px;
    height: 267px;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.2;
    filter: blur(110px);
    border-radius: 24px;
    transform: rotate(5.78deg);
  }
  @media (max-width: 1200px) {
    &__card:nth-child(1) {
      left: 7%;
      top: 530px;
    }
    &__card:nth-child(2) {
      left: 65%;
      top: 375px;
    }
    &__card:nth-child(3) {
      left: 25.4%;
      top: 900px;
    }
    &__card:nth-child(4) {
      left: 74%;
      top: 810px;
    }
    &__card {
      font-size: 19px;
    }
    &__title {
      margin-left: 15px;
    }
    &__text {
      margin-left: 15px;
      margin: 23px 0 0 15px;
    }
  }
  @media (max-width: 800px) {
    &__text-wrapper {
      margin-bottom: 141px;
    }
    &__img {
      margin-bottom: 140px;
      margin-left: 0;
    }
    &__card-text {
      line-height: 17px;
    }
    &__card {
      border-radius: 10px;
      font-size: 14px;
    }
    &__card:nth-child(1) {
      left: 57%;
      top: 330px;
      padding: 13px 15px 13px 15px;
    }
    &__card:nth-child(2) {
      left: 7%;
      top: 220px;
      padding: 10px 15px 10px 15px;
    }
    &__card:nth-child(3) {
      left: 25.4%;
      top: 650px;
      padding: 10px 15px 10px 15px;
    }
    &__card:nth-child(4) {
      left: 70%;
      top: 720px;
      padding: 12px 17px 10px 20px;
    }
  }
  @media (max-width: 600px) {
    &__title:nth-child(2) {
      margin-top: -20px;
    }
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
    }
  }
  @media (max-width: 400px) {
    &__img {
      margin-right: 25px;
    }
    &__card:nth-child(1) {
      left: 51%;
      top: 268px;
    }
    &__card:nth-child(2) {
      left: 10%;
      top: 181px;
    }
    &__card:nth-child(3) {
      left: 8%;
      top: 593px;
    }
    &__card:nth-child(4) {
      left: 63%;
      top: 673px;
    }
    &__title:nth-child(2) {
      margin-top: 0;
    }
  }
}
